In [2]:
# Importamos las librería sqlite3:
import sqlite3

# Creamos un archivo como extensión .db donde se almacenará la información, si no existe se crea:
conexion=sqlite3.connect("cars.db")
try:
    # Creamos la tabla anteriormente explicada:
    conexion.execute("""CREATE TABLE cars (id INTEGER PRIMARY KEY AUTOINCREMENT, 
                        brand TEXT NOT NULL, model TEXT NOT NULL, production_year INTEGER NOT NULL, convertible BOOLEAN)""")
    print("se creo la tabla articulos")                        
except sqlite3.OperationalError:
    # si ocurre un error al crear la tabla nos mostrará el siguiente error:
    print("La tabla articulos ya existe")                    
conexion.close()

se creo la tabla articulos

In [6]:
# Crear:
# Insertamos información en la tabla creada anteriormente de articulos:

conexion=sqlite3.connect("cars.db")
conexion.execute("INSERT INTO cars(brand, model, production_year, convertible) VALUES (?,?,?,?)", ('Ford', 'Mustang', 1972, False))
conexion.execute("INSERT INTO cars(brand, model, production_year, convertible) VALUES (?,?,?,?)", ('Chevrolet', 'Camaro', 1988, True))
conexion.execute("INSERT INTO cars(brand, model, production_year, convertible) VALUES (?,?,?,?)", ('Aston Martin', 'Rapide', 2010, False))
conexion.execute("INSERT INTO cars(brand, model, production_year, convertible) VALUES (?,?,?,?)", ('Maserati', 'Mexico', 1970, False))
conexion.execute("INSERT INTO cars(brand, model, production_year, convertible) VALUES (?,?,?,?)", ('Nissan', 'Fairlady', 1974, False))
conexion.execute("INSERT INTO cars(brand, model, production_year, convertible) VALUES (?,?,?,?)", ('Mercedes Benz', '300SL', 1957, True))
conexion.commit()
conexion.close()

In [7]:
# Read
# Leer todos los datos de la tabla:

conexion = sqlite3.connect("cars.db")
cursor = conexion.execute("SELECT brand,model,production_year,convertible FROM cars")
for fila in cursor:
    print(fila)
conexion.close()

('Ford', 'Mustang', 1972, 0)
('Chevrolet', 'Camaro', 1988, 1)
('Aston Martin', 'Rapide', 2010, 0)
('Maserati', 'Mexico', 1970, 0)
('Nissan', 'Fairlady', 1974, 0)
('Mercedes Benz', '300SL', 1957, 1)